<div class="flex-container">
  <div class="row">
    <div id="add" (click)="showAddDialog(null)">
      <button  mat-raised-button color="primary"><mat-icon>add</mat-icon> Add</button>
    </div>
      <div *ngIf="articles$ | async; let articles; else loading">
        <mat-accordion>
          <app-article *ngFor="let article of articles" [article]="article"
            (delete)="deleteArticle($event)"
            (edit)="showAddDialog($event)">
          </app-article>
        </mat-accordion>
        <div *ngIf="articles.length === 0">
          <p>No results where found !</p>
        </div>
      </div>
    <ng-template  #loading >
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>



